@import url('https://fonts.googleapis.com/css?family=Aladin');
@import url('https://fonts.googleapis.com/css?family=Handlee');

@keyframes slideInLeft {
    0% {
        transform: translateX(-30%);
    }

    100% {
        transform: translateX(0%);
    }
}

.MainContainer {
    width: 80vw;
    height: 70vh;
    position: relative;
    border-radius: 30px;
    border: 5px solid var(--LightBlue);
    box-shadow: 5px 5px 20px #0c1a30;
    background: linear-gradient(90deg, var(--LightBlue) 30%, var(--Yellow) 30%);
    display: flex;
    flex-direction: column;
}

.Row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
}

.MainPicture, .MainHeader, .AdditionalPictures {
    width: 35%;
    height: auto;
}

.MainPicture, .AdditionalPictures {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.MainHeader {
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    padding: 1rem;
}


.MainPicture > img {
    width: 270px;
    height: auto;
    animation: 0.5s ease-out 0s 1 slideInLeft;
}

.HeaderContent {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.HeaderContent > img {
    width: 40px;
    height: 40px;
    padding: 5px 5px 0 5px;
    margin-left: 1rem;
    border-radius: 50%;
    border: 2px solid white;
    background-color: var(--Yellow);
}

.HeaderGroup > h1 {
    font-family: 'Aladin', sans-serif;
    font-size: 50px;
    margin: 0;
}

.HeaderGroup > div {
    display: flex;
    align-items: center;
    align-content: flex-start;
}

.HeaderGroup > div > p {
    color: var(--LightBlue);
    font-size: 48px;
    padding: 0;
    margin: 0;
    font-family: 'Handlee', sans-serif;
}

.HeaderGroup > div > p svg {
    color: white;
    width: 30px;
    height: 30px;
    transform: rotate(10deg);
}

.HeaderGroup > h2 {
    margin: 0.5em 0;
    font-size: 14px;
}

.HeaderActions > button {
    background-color: var(--DarkBlue);
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 20px;
    margin-top: 1.5em;
    font-size: 12px;
}

.HeaderActions > button:hover {
    background-color: var(--LightBlue);
}

.AdditionalPictures > img#dogPicture {
    width: auto;
    height: 100%;
    max-width: 350px;
    max-height: 350px;
}

.AdditionalPictures > img#dogHeart {
    width: 28px;
    height: auto;
    position: absolute;
    bottom: 300px;
    right: 20%;
    transform: rotate(30deg);
}

.CardContainer {
    position: absolute;
    top: -3.5rem;
    right: 20%;
    z-index: 5;
}

.LargerPaws {
    position: absolute;
    top: -2.5rem;
    right: 0.5rem;
}

.HeaderPaws {
    position: absolute;
    top: 52%;
    right: 50%;
}

.TopPaws {
    position: absolute;
    top: -5rem;
    right: 68%;
}

.LeftPaws {
    position: absolute;
    bottom: 40px;
    left: -5rem;
}

.Collage {
    position: absolute;
    bottom: -55px;
    left: 40%;
}

@media only screen and (max-width: 1190px) {
    .MainContainer {
        width: 100vw;
        height: 100vh;
        margin: 0;
        background: none;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        overflow-x: hidden;
    }

    .Row {
        align-items: center;
    }

    .MainPicture, .MainHeader {
        width: 50%;
    }

    .MainHeader {
        padding: 4rem;
    }

    .AdditionalPictures {
        order: 1;
        width: 0;
        height: 0;
    }

    .AdditionalPictures > img, .HeaderPaws, .LeftPaws, .LargerPaws {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .Row {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .MainHeader::before {
        content: "";
        background: url('../../images/main-dog.webp') no-repeat center;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.2;
    }

    .MainPicture, .AdditionalPictures {
        order: 1;
        width: 0;
        height: 0;
    }

    .MainPicture > img, .AdditionalPictures > img, .Collage {
        display: none;
    }

    .MainHeader {
        width: 100%;
        height: 100%;
        padding:0;
        margin-left: 1rem;
    }

    .HeaderContent > img {
        display: none;
    }

    .HeaderGroup {
        display: flex;
        flex-direction: column;
    }

    .CardContainer {
        top:inherit;
        bottom: 0;
        right: 0;
        margin: 2rem;
    }
}

@media only screen and (min-width: 550px) and (max-width: 840px) {
    .Collage {
        display: none;
    }
    
    .CardContainer {
        top:8.5rem;
        right: inherit;
        left: 35%;
    }
}

@media only screen and (min-width: 840px) and (max-width: 1190px){
    .Row {
        flex-direction: column;
        width: 70%;
        height: 100%;
        margin-left: 30%;
    }

    .MainPicture {
        height:50%;
    }

    .MainPicture>img {
        width: auto;
        height: 90%;
    }

    .MainHeader {
        width: 60%;
        height: 20%;
        padding: 1rem;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .HeaderContent {
        justify-content: center;
    }

    .AdditionalPictures {
        width: 100%;
        height: 30%;
    }

    .AdditionalPictures>img {
        display: block;
    }

    .AdditionalPictures>img#dogHeart {
        bottom: 190px;
        right: 250px;
    }

    .Collage {
        left: 20%;
        top: 65%;
    }

    .CardContainer {
        top: 30%;
        left: 22.5%;
        right: inherit;
    }
}