.BgCircle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10rem;
  height: 20rem;
  border-bottom-right-radius: 20rem;
  border-top-right-radius: 20rem;
  border: 2px dotted white;
  border-left: 0;
  transform: rotate(-45deg);
  z-index: -1;
}